.buttonPanel {
    text-align: right;
}

button {
    font-family: "Segoe UI Light";
    font-size: 15px;
    height: 45px;
    min-width: 100px;
    text-align: center;
    margin: 4px;
    padding: 0 16px;
}

.btn-accent {
    border: 0px;
    background-color: #449d44;
    color: #ffffff;
}

.btn-accent:hover {
    background-color: #599c5c;
}

.btn-accent:active {
    background-color: #398439;
}

.btn-accent:disabled {
    background-color: rgba(68,157,68,0.7);
    color: rgba(255,255,255,0.7);
}

.btn-standard {
    border: 0px;
    background-color: #555555;
    color: #cccccc;
}

.btn-standard:hover {
    background-color: #666666;
}

.btn-standard:active {
    background-color: #444444;
}

.btn-standard:disabled {
    background-color: rgba(85,85,85, 0.7);
    color: rgba(204,204,204, 0.7);
}