.syncProgress-messagePanel {
    max-width: 400px;
    margin: 12px 4px 4px 4px;
}

.syncProgress-title {
    font-family: "Segoe UI";
}

.syncProgress-details {
    color: #666666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}